/* body            { font-family: sans-serif; background: papayawhip; } */
body            { font-family: sans-serif; background: #ffff99; padding-top: 70px; }
a, h1, h3       { color: gray50; }
h1, h2, h3      { font-family: 'Georgia', serif; margin: 0; }
h1, h2          { border-bottom: 2px solid #eee; padding: 3px; }
h3              { padding: 3px; }
dd              { display: block; margin-left: 0px; }
dl              { font-weight: bold; }
a:visited 		{ color: #800080; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.posts          { list-style: none; margin: 0; padding: 0; }
.posts li       { margin: 0.8em 1.2em; }
.posts li h2    { margin-left: -1em; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.marsu          { padding: 25px 5px 25px 5px; background-color: #33FFF9}
.actions        { padding: 20px; background-color: #33CAFF }
.info           { padding: 40px; background-color: #33A8FF }
.nodecontent    { padding: 25px 0px 20px; }
.childrenlist   { list-style: none }
.lophoto        { max-height: 600px; width=auto }
.smallphoto     { max-height: 200px; width=auto }
.square         { width: 140px; height: 140px; object-fit: fill }
.matrix         { padding: 150px; }
