{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block page_content %}
<div class="row">
    <div class="col-md-9">
        <h1>
            {{ title }}
        </h1>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Post Data</th>
                <th>Title</th>
                <th>Category</th>
            </tr>
            {% for node in node_list.items %}
            <tr>
                <td>{{ node.created|datestamp }}</td>
                <td>
                    <a href=" {{ url_for('main.node', nid=node.nid) }}">{{ node.title }}</a>
                </td>
                <td>
                    <a href=" {{ url_for('main.node', nid=node.parent_id) }}">{{ node.parent.title }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if node_list.has_prev %}
            <a href="{{ url_for('main.nodelist', order=order, page=node_list.prev_num) }}">&lt;&lt; Newer nodes</a>
        {% else %}
            &lt;&lt; Newer nodes
        {% endif %} |
        {% if node_list.has_next %}
            <a href="{{ url_for('main.nodelist', order=order, page=node_list.next_num) }}">Older nodes &gt;&gt;</a>
        {% else %}
            Older nodes &gt;&gt;
        {% endif %}
    </div>
    <div class="col-md-3 text-center">
        <div class="hidden-sm hidden-xs marsu">
            <img class="img-responsive center-block"  src="{{ url_for('static', filename='marsu.gif') }}">
        </div>
        {{ macros.search(searchForm) }}
    </div>
</div>
{% endblock %}