{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
{% endblock %}

{% block page_content %}
<div class="row">
    {{ macros.bc(breadcrumb) }}
    {% if node is defined }
        {% if node.type == "photo" %}
            <img src="{{ folders['public'] }}{{ folders['medium'] }}{{ node.photo.filename }}"
                 class="img-responsive lophoto">
        {% endif %}
    {% endif %}
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
