{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block page_content %}
<div class="row">
    <div class="col-md-9">
        <h1>
            {{ node.content.title }}
            <small>{{ node.created|datestamp }}</small>
        </h1>
        {% if node.type == "book" %}
            {% if breadcrumb|length > 0 %}
                {{ macros.bc(breadcrumb) }}
            {% endif %}
        {% endif %}
        {% if node.terms|length > 0 %}
            {{ macros.taxonomy(node.terms|terms_sorted) }}
        {% endif %}
        {% if node.type == "photo" %}
            <a target="_blank" href="{{ folders['public'] }}{{ folders['original'] }}{{ node.photo.filename }}">
                <img src="{{ folders['public'] }}{{ folders['medium'] }}{{ node.photo.filename }}"
                     class="img-responsive lophoto">
            </a>
        {% elif node.type == "lophoto" %}
            <img src="{{ url_for('static', filename=node.lophoto.filename) }}" class="img-responsive lophoto">
        {% endif %}
        <div class="nodecontent">
            {% if node.content.body is not none %}
                {{ node.content.body|safe }}
            {% endif %}
        </div>
        {% if node.children %}
        <hr>
        <ul class="childrenlist">
            {% for child in node.children|children_sorted %}
            <li>{% if child.children %} &raquo; {% else %} &bull; {% endif %}
                <a href="{{ url_for('main.node', id=child.id) }}">{{ child.content.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
    <div class="col-md-3 text-center">
        <div class="hidden-sm hidden-xs marsu">
            <img class="img-responsive center-block"  src="{{ url_for('static', filename='marsu.gif') }}">
        </div>
        {{ macros.search(searchForm) }}
        <div class="actions">
            <h3>Acties</h3>
            <hr>
            <div class="btn-group-vertical" role="group" aria-label="Actions">
            {% if node.type == "book" %}
                <a href="{{ url_for('main.post_add', book_id=node.id) }}" class="btn btn-default" role="button">
                    Nieuwe Pagina
                </a>
                <a href="{{ url_for('main.post_edit', node_id=node.id) }}" class="btn btn-default" role="button">
                    Pagina Aanpassen
                </a>
                {% if node.children|length == 0 %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        Pagina Verwijderen
                    </button>
                    <!-- Modal code -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title">Bevestig Pagina Verwijderen</h3>
                                </div>
                                <div class="modal-body">
                                    <p>OK om pagina <strong>{{ node.content.title }}</strong> te verwijderen?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('main.post_delete', node_id=node.id) }}" class="btn btn-danger"
                                       role="button">
                                        Delete
                                    </a>
                                    <a href="{{ url_for('main.node', id=node.id) }}" class="btn btn-warning"
                                       role="button">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <a href="{{ url_for('main.post_add') }}" class="btn btn-default" role="button">
                    Nieuw Bericht
                </a>
                {% if nfc > 0 %}
                    <a href="{{ url_for('main.editpictures') }}" class="btn btn-default" role="button">
                        Nieuwe Foto's ({{ nfc }})
                    </a>
                {% endif %}
                {% if node.type != "lophoto" %}
                    <a href="{{ url_for('main.post_edit', node_id=node.id) }}" class="btn btn-default" role="button">
                        Bericht Aanpassen
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        Bericht Verwijderen
                    </button>
                    <!-- Modal code -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title">Bevestig Bericht Verwijderen</h3>
                                </div>
                                <div class="modal-body">
                                    <p>OK om bericht <strong>{{ node.content.title }}</strong> te verwijderen?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('main.post_delete', node_id=node.id) }}" class="btn btn-danger"
                                       role="button">
                                        Delete
                                    </a>
                                    <a href="{{ url_for('main.node', id=node.id) }}" class="btn btn-warning"
                                       role="button">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
